@page
@using UniversalReportCore.PageMetadata
@inject IPageMetaFactory PageMetaFactory

@model IndexModel
@{
    ViewData["Title"] = "Report Hub";
    var vm = new ReportHubViewModel() { Links = Model.Reports };
}

<h2>Universal Report Demos</h2>
<hr/>
<div class="container">
    <partial name="_ReportHubPartial" model="@vm" />
</div>
