@using UniversalReportCore.Ui.Pages
@using UniversalReportCore.Ui.ViewModels
@using UniversalReportCore.ViewModels
@model ActionWellViewModel
@addTagHelper *, UniversalReportCore.Ui

<form method="get">
    <span class="d-inline-flex align-items-center me-2 mb-2" role="toolbar" aria-label="Action Well Toolbar">
        <span class="btn-group btn-group-sm" role="group" aria-label="Action Well Group 1">
            @foreach (var item in Model.SubPartials)
            {
                <partial name="@item.PartialName" model="item.Data" />
            }
        </span>
    </span>
</form>
