<button class="btn btn-outline-primary d-flex align-items-center btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseChart" aria-expanded="false" aria-controls="collapseChart">
    <i class="ms-Icon ms-Icon--Chart me-2" aria-hidden="true"></i> Visualize
</button>