@model UniversalReportCore.Ui.ViewModels.FacetedBrowserViewModel

@if (Model.ShowFilterButton)
{
    <button class="btn btn-primary d-flex align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
        @Html.Raw(Model.FilterButtonHtml)
    </button>
}
